/* ----CSS----- */
h1{
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.top-banner {
    display: flex;
    background: black;
    color: white;
    margin: 0 8%;
    border-radius: 10px;
    height: 500px;
}

.banner-info {
    padding: 4%;
    width: 60%;
}

.banner-info p {
    margin: 10px 0 50px 0;
}

.banner-image {
    width: 50%;
    padding: 4% 10%;
}

.banner-image img {
    height: 400px;
}

.button p a {
    text-decoration: none;
    color: white;
    background-color: #73C6B6 ;
    padding: 10px 12px;
    border-radius: 5px;
    font-size: 20px;
}

.hover-button:hover{
    background-color: #C0392B;
    padding: 12px 14px;
    color: white;

}

.button {
    display: flex;
}

.fa-arrow-right {
    padding-left: 10px;
}

/* three button */
.match-info-section {
    background: black;
    border-radius: 5px;
    width: 223px;
    height: 235px;
    margin-right: 40px;
}

.info-buttons{
    margin-top: 48px;
}

.match-info-button-1 a,.match-info-button-2 a,.match-info-button-3 a {
    
    border-radius: 5px;
    color: black;
    border: 1px solid gray;
    text-decoration: none;
    margin: 34px;
}


.match-info-button-1 a {
    padding: 10px 20px;
    background: white;
}

.match-info-button-1 a.hover-button:hover {
    padding: 10px 20px;
}

.match-info-button-2 a {
    padding: 10px 44px;
    background-color: skyblue;
}

.match-info-button-2 a.hover-button:hover {
    padding: 10px 44px;
}

.match-info-button-3 a {
    padding: 10px 59px;
    background: white;
}

.match-info-button-3 a.hover-button:hover {
    padding: 10px 59px;
}

.match-info-button-2 {
    margin: 40px 0px;
}

.match-details {
    margin: 8%;
    display: flex;
}




/* media query */
/* --------for mobile-------- */
@media only screen and (max-width:688px) {
    .heading {
        height: 825px;
        background: black;
        margin: 0 8%;
        border-radius: 10px;
    }

    .top-banner {
        display: flex;
        flex-direction: column;
    }

    .banner-image {
        width: 50%;
        padding: 0 8%;
    }

    .banner-info {

        text-align: center;

        margin-left: 65px;
    }

    /* three button */
    .match-info-section {
        background: white !important;
        margin:0 28%;
    }

    .match-details {
        display: flex;
        flex-direction: column;
    }
}

/* -------mobile query close------- */


/* ---------tab view query--------- */
@media only screen and (min-width:689px) and (max-width:992px){
    .match-info-section {
        background: white !important;
        width: 104%;
        height: 140px;
    }

    .match-details {
        display: flex;
        flex-direction: column;
    }

    .match-info-button-1 ,.match-info-button-2 ,.match-info-button-3 {
        margin: 0px ;
    }

    .info-buttons{
        display: flex;
    }

    .match-info-button-3{
        margin: 0 3%;
    }
}